/* --- FONTS --- */
/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-300.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin_cyrillic-300.woff") format("woff");
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff");
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin_cyrillic-500.woff") format("woff");
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-600.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin_cyrillic-600.woff") format("woff");
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin_cyrillic-700.woff") format("woff");
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-800.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin_cyrillic-800.woff") format("woff");
}

:root {
  --primary-orange: #eda652;
  --primary-blue: #4f85ef;
  --secondary-dark: #333333;
}

/* --- COMMON --- */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  zoom: 1.25;
}

body {
  background-color: #1e1e1e;
}

.body-container {
  width: 595px;
  height: 842px;
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.tech-stack__title,
.qualities__title,
.exp__title,
.education__title,
.language__title,
.project__title,
.code-example__title,
.interest__title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--primary-blue);
}

/* --- HEADER --- */

.header-icon {
  margin: 4px 0 4px 8px;
  width: 16px;
  height: 16px;
  opacity: 0.5;
}

.header-container {
  z-index: 3;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  padding: 4px;
  background: #fffefd;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.header__document-format {
  display: none;
}

.header__download-info {
  display: none;
}

.header__document-format,
.header__download-info {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  color: var(--secondary-dark);
  opacity: 0.8;
  transform: translateX(20px);
}

.format {
  display: flex;
  flex-direction: row;
  text-align: right;
}

.format__download-links {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.format__pdf,
.format__docx {
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #343434;
  opacity: 0.5;
}

.header-download__icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  opacity: 0.5;
}

/* --- MAIN --- */

.main-container {
  display: flex;
}

/* --- MAIN-LEFT --- */

.main-left {
  z-index: 2;
  width: 240px;
  height: 768px;
  padding: 0 10px;
  background: #fafdff;
  box-shadow: 1px 0px 5px rgba(127, 174, 245, 0.25);
}

.main-left__img {
  position: relative;
  width: 165px;
  height: 165px;
  margin: 30px 28px 18px 27px;
  border: 7px solid rgba(237, 166, 82, 0.35);
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(127, 174, 245, 0.5);
}

.main-left__avatar {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: sepia(50%) saturate(350%);
  -webkit-filter: sepia(50%) saturate(350%);
  -moz-filter: sepia(50%) saturate(350%);
}

.main-left__picture {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  scale: 101%;
  background: transparent;
  border: 7px solid rgba(237, 166, 82, 0.35);
  border-radius: 50%;
}

.nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.nav__item:not(:last-child) {
  margin-bottom: 6px;
}

.nav__item {
  position: relative;
  height: 34px;
  margin-top: 0;
  background: #ffffff;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: #c7c7c7;
  box-shadow: 0px 4px 4px rgba(215, 215, 215, 0.25);
  border-radius: 35px;
}

.nav__icon {
  position: absolute;
  top: -1px;
}

.nav__link {
  margin-left: 40px;
  font-weight: 700;
  font-size: 10px;
  line-height: 32px;
  color: var(--secondary-dark);
}

.tech-stack {
  margin-bottom: 14px;
}

.tech-stack__row:not(:last-child) {
  margin-bottom: 8px;
}

.tech-stack__row {
  display: flex;
}

.tech-stack__item {
  position: relative;
  height: 30px;
}

.tech-stack__item-figma {
  margin-left: 16px;
}

.tech-stack__item-photoshop {
  margin-left: 30px;
}

.tech-stack__item-js {
  margin-left: 37px;
}

.tech-stack__icon {
  position: absolute;
}

.tech-stack__name {
  margin-left: 34px;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  color: #343434;
}

.qualities__list {
  margin-left: 9px;
  list-style-type: "\2022";
}

.qualities__item {
  padding-left: 6px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}

.qualities__item:not(:last-child) {
  margin-bottom: 5px;
}

/* --- MAIN-RIGHT --- */

.info {
  position: relative;
  margin: 59px 20px 26px 70px;
}

.info__circle {
  z-index: 1;
  position: absolute;
  left: -236px;
  top: -50px;
  width: 200px;
  height: 200px;
  background-color: var(--primary-orange);
  border-radius: 50%;
  box-shadow: 4px 4px 4px rgba(127, 174, 245, 0.25);
}

.info__my-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 34px;
  color: var(--secondary-dark);
}

.info__my-name-color {
  color: var(--primary-orange);
}

.info__profession {
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--secondary-dark);
}

.info__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.main-right__container {
  position: relative;
  margin: 0px 20px 8px 20px;
  width: 315px;
  height: 483px;
}

.main-right__page {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s ease;
}

.rotate180 {
  transform: rotateY(180deg);
}

/* --- MAIN-RIGHT-PAGE-1 --- */

.main-right__page-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.exp__list {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #c7c7c7;
}

.exp__list:last-child {
  margin-bottom: 14px;
}

.exp__item {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.exp__icon {
  position: absolute;
  top: 1px;
  height: 12px;
  width: 12px;
}

.exp__date {
  margin-bottom: 2px;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: var(--secondary-dark);
}

.exp__sphere-activity {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.exp__link {
  margin-bottom: 3px;
  margin-left: 15px;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  color: var(--primary-blue);
  opacity: 0.8;
}

.exp__direction {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.exp__skills {
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: var(--secondary-dark);
}

.exp__skills-color {
  font-weight: 700;
}

.education {
  margin-bottom: 14px;
}

.language {
  margin-bottom: 23px;
}

.education,
.language {
  padding-bottom: 10px;
  border-bottom: 1px solid #c7c7c7;
}

.education__text,
.language__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--secondary-dark);
}

.next-page {
  display: flex;
  justify-content: right;
  float: right;
  padding: 0;
  width: 55px;
  height: 12px;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #343434;
  opacity: 0.5;
}

.next-page__icon {
  margin-left: 5px;
  width: 12px;
  height: 10px;
}

/* --- MAIN-RIGHT-PAGE-2 --- */

.main-right__page-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
}

.project__list {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #c7c7c7;
}

.project__list:last-child {
  margin-bottom: 14px;
}

.project__item {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.project__icon {
  position: absolute;
  top: 1px;
  height: 12px;
  width: 12px;
}

.project__date {
  margin-bottom: 2px;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: var(--secondary-dark);
}

.project__sphere-activity {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.project__link {
  margin-bottom: 3px;
  margin-left: 15px;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  color: var(--primary-blue);
  opacity: 0.8;
}

.project__direction {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.project__skills {
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: var(--secondary-dark);
}

.project__skills-color {
  font-weight: 700;
}

.code-example {
  margin-bottom: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c7c7c7;
}

.code-example__field {
  width: 274px;
  height: 164px;
  background: #1e1e1e;
  border-radius: 4px;
}

.code-example__code {
  padding: 5px 5px 5px 10px;
  font-family: "Courier New";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  color: #ffffff;
}

.code-example__code-green {
  color: #6a9955;
}

.code-example__code-light-green {
  color: #b5cea8;
}

.code-example__code-blue {
  color: #569cd6;
}

.code-example__code-light-blue {
  color: #9cdcfe;
}

.code-example__code-light-pink {
  color: #c586c0;
}

.code-example__code-light-yellow {
  color: #ffc813;
}

.interest__row {
  display: flex;
}

.interest__item {
  position: relative;
  height: 30px;
}

.interest__item-typescript {
  margin-left: 30px;
}

.interest__item-react {
  margin-left: 34px;
}

.interest__icon {
  position: absolute;
}

.interest__name {
  margin-left: 34px;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  color: #343434;
}

.interest__row:not(:last-child) {
  margin-bottom: 8px;
}

.interest__row:last-child {
  padding-bottom: 10px;
  margin-bottom: 23px;
  border-bottom: 1px solid #c7c7c7;
}

.prev-page {
  display: flex;
  justify-content: right;
  float: right;
  padding: 0;
  width: 55px;
  height: 12px;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #343434;
  opacity: 0.5;
}

.prev-page__icon {
  margin-right: 5px;
  rotate: 180deg;
  width: 12px;
  height: 10px;
}

/* --- FOOTER --- */

.footer-container {
  z-index: 3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  border-radius: 0px 0px 5px 5px;
  background: #fffefd;
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.1);
}

.footer-git-link {
  margin: 8px 0 8px 10px;
}

.footer-git__icon {
  opacity: 0.5;
}

.footer-rss__icon {
  opacity: 0.5;
  transform: translateX(8px);
}

.footer-year {
  position: relative;
  padding: 12px 18px 13px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--secondary-dark);
  opacity: 0.5;
}

.footer-year__icon {
  position: absolute;
  top: 14px;
  left: -16px;
  margin-right: 4px;
}
